{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}    <title>:: Blog</title>  {% endblock %}

{% block main %}
<div class="container">


    <!-- INÍCIO Messagens -->
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- FIM Messagens -->

    <!-- INICIO da inclusão da barra de navegação do blog -->
    <div class="card border-0">{% include 'blog/model-header-blog.html' %}</div>
    <!-- FIM da inclusão da barra de navegação do blog -->

    <!-- INÍCIO Botão de Criar POST -->
    <div class=" mt-2 mb-2" align="right">
         <a href="{% url 'criar-post' %}" class="btn btn-primary">Criar Post</a>
    </div>
    <!-- FIM Botão de Criar POST -->

    <!-- INÍCIO Lista de todos os Posts publicados -->
    <div class="card-columns">
      {% for post in posts %}
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ post.titulo_post}}</h5>
            <p class="card-text">{{ post.excerto_post | safe }}</p>

            <p class="card-text">
              <small class="text-muted">
                {{ post.data_post|naturalday|title}} | {{ post.numero_comentarios}} comentario(s) | {{ post.categoria_post }}
              </small>
            </p>

            <a href="{% url 'post-detalhes' post.id %}" class="btn btn-primary btn-sm">Visualizar</a>
            <a href="{% url 'editar-post' post.slug %}" class="btn btn-primary btn-sm">Editar</a>

            <a href="" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal1">Excluir</a>
          </div>
          
        </div>
      </div>
      {% endfor %}
    </div>


     </div>
  </div>

<!-- =====================================================================================================-->

<!-- =====================================================================================================-->

    </div>
    <!-- FIM Lista de todos os Posts publicados -->
</div>
{% endblock %}