{% extends 'base.html' %}
{% load static %}

{% block title %}    <title>:: Blog</title>  {% endblock %}

{% block main %}
<div class="container">

    <!-- INÍCIO  Campo de Pesquisas-->
        <div class="mt-5">
            <form method="GET">
            <div class="row">
                <div class="form-group col-10">
                    <input type="search" class="form-control"  placeholder="Digite sua pesquisa"
                            name="q" value="{{ request.GET.q }}">
                </div>
                <div class="form-group col-2">
                    <button class=" form-control btn-success">
                        <i class="fas fa-search"></i>
                        Pesquisar
                    </button>
                </div>
            </div>
        </form>
        </div>
	<!-- FIM Campo de Pesquisas-->

    <!-- INÍCIO Messagens -->
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- FIM Messagens -->

    <!-- INÍCIO Botão de Criar POST -->
    <div class=" mt-2 mb-2" align="right">
         <a href="{% url 'criar-post' %}" class="btn btn-primary">Criar Post</a>

    </div>
    <!-- FIM Botão de Criar POST -->

    <!-- INÍCIO das categorias de programação -->
    <div class="card-columns">
        <div class="card w-25">
            <a href="/blog/django/">Django</a>
        </div>
        <div class="card w-25">
            <a href="/blog/heroku/">Heroku</a>
        </div>
    </div>
    <!-- INÍCIO das categorias de programação -->

    <hr>
    <hr>

    <!-- INÍCIO Lista de todos os Posts publicados -->
    <div class="card-columns">
        {% for post in posts %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ post.titulo_post}}</h5>
            <p class="card-text">{{ post.excerto_post | safe }}</p>
            <div align="right">
                <a href="{{ post.get_absolute_url }}" class="nav-link">Ler</a>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    <!-- FIM Lista de todos os Posts publicados -->
</div>
{% endblock %}