<div class="container">
  <div class="ui pointing menu">
  <a class="item" href="/">
    Home
  </a>
     <a class="item" href="/blog/">
    Blog
  </a>
  <a class="item" href="{% url 'post-categoria' 'django' %}">
    django
  </a>
  <a class="item" href="{% url 'post-categoria' 'heroku' %}">
    Heroku
  </a>

    <a class="item" href="{% url 'post-categoria' 'python' %}">
    Python
  </a>
  <div class="right menu">
    <div class="item">
      <form method="GET" action="{% url 'post-busca' %}">
        <div class="ui transparent icon input">
          <input type="search" name="termo" value="{{ request.GET.termo }}" placeholder="Informe o assunto">

          <button type="submit"> <i class=" btn search link icon"></i> </button>




        </div>
      </form>

    </div>
  </div>




</div>