<div class="bg-light  border-bottom shadow">
  <div class="container" align="center">
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
                <a class="nav-link" href="{% url 'post-categoria' 'django' %}">Django</a>
        </li>

        <li class="nav-item">
              <a class="nav-link" href="{% url 'post-categoria' 'heroku' %}">Heroku</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'post-categoria' 'python' %}">Python</a>
        </li>
        <form class="d-flex" action="{% url 'post-busca' %}">
          <input name="termo" value="{{ request.GET.termo }}" class="form-control me-2" type="search" placeholder="Pesquisa" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      </ul>

    </div>
  </div>
</div>


