<div class="container">
  <div class="ui pointing menu">
  <a class="item" href="/">
    Home
  </a>
     <a class="item" href="/blog/">
    Blog
  </a>
  <a class="item" href="{% url 'post-categoria' 'django' %}">
    django
  </a>
  <a class="item" href="{% url 'post-categoria' 'heroku' %}">
    Heroku
  </a>

    <a class="item" href="{% url 'post-categoria' 'python' %}">
    Python
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>

</div>