{% include 'crypto/base_crypto.html' %}
{% load static %}

{% block title %}<title>  .:: Carteira </title>{% endblock %}



{% block main %}

<div class="ui container">
 
    <!-- Carteira de investimentos -->

    <table class="ui celled table">
  <thead>
    <tr><th>Nome</th>
    <th>Simbolo</th>
    <th>R$ Entrada</th>
    <th>R$: Atual</th>
    <th>Date</th>
        <th>% Variação</th>
  </tr></thead>
  <tbody>
  {% for active in actives %}
    <tr>
      <td data-label="Name">{{ active.name_crypto }}</td>
      <td data-label="Age">{{ active.name_crypto.crypto_symbol }}</td>
      <td data-label="Age">{{ active.purchase_value }}</td>
      <td data-label="Age">{{ active.unitary_value }}</td>
      <td data-label="Job">{{ active.purchase_date }}</td>
        <td data-label="Job"> {{ active.name_crypto }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

        
</div>
{% endblock %}


