{% include 'crypto/base_crypto.html' %}
{% load static %}

{% block title %}<title>  .:: Carteira </title>{% endblock %}



{% block main %}

<div class="ui container">
 
    <!-- Carteira de investimentos -->

    <table class="ui celled table">
  <thead>
    <tr><th>Nome</th>
    <th>Simbolo</th>

    <th>Valor Compra (Unidadde)</th>
    <th>Valor hoje (Unidadde)</th>

    <th>Total compra</th>
    <th>Acumlado da  compra</th>


  </tr></thead>
  <tbody>
  {% for active in actives %}
    <tr>
      <td data-label="Name">{{ active.name_crypto }}</td>
      <td data-label="Age">{{ active.name_crypto.crypto_symbol }}</td>

      <td>{{ active.unitary_value }}</td>
      <td>{{ active.name_crypto.value_current_cripto }}</td>

      <td>{{ active.purchase_value }}</td>
      <td>Acumlado da  compra</td>


    </tr>
  {% endfor %}
  </tbody>
</table>

        
</div>
{% endblock %}


