{% include 'crypto/base_crypto.html' %}
{% load static %}
{% load humanize %}

{% block title %}<title>  .:: Carteira </title>{% endblock %}


{% block main %}

<div class="container">

  <div class="table-responsive">
  <table class="table">
    <thead>
      
      <tr>
        <th scope="col">Ativo</th>
        <th scope="col">Símbolo</th>
        <th scope="col">Compra</th>
        <th scope="col">Atual</th>
        <th scope="col">Quantidade</th>

        <th scope="col">Lucro</th>

        <th scope="col" style="color: green;">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
      
    </thead>
    <tbody>
      {% for active in actives %}
      <tr>
        <th>{{ active.name_crypto.name_crypto }}</th>
        <th>{{ active.name_crypto.crypto_symbol }}</th>
        <th>{{ active.purchase_value }}</th>
        <th>{{ active.name_crypto.value_current_cripto }}</th>
        <th>{{ active.quantity_crypto }}</th>

        <th {% if active.lucro > 0 %} style="color: green;" {% elif active.lucro < 0 %} style="color: red;" {% endif %}>
          {{ active.lucro|intcomma }}
        </th>


        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>


---------------------------------------------------------------------------------------------------

  <div>
    <!-- Bitcoin -->
    {% for bitcoin in bitcoin %}    Lucro: {{ bitcoin.lucro }}    {% endfor %}
  </div>

</div>
{% endblock %}


