{% include 'crypto/base_crypto.html' %}
{% load static %}
{% load humanize %}

{% block title %}<title>  .:: Saldos </title>{% endblock %}


{% block main %}

<div class="container">

<!-- INICIO BODY -->

<div class="row">
  <div class="col-sm-4 mb-4">
    <div class="card  shadow">
      <div class="card-body">
        
        <!-- Inicio Cardano -->
        <h3 class="ui dividing header violet">Cardano (ADA) <small>Categoria</small><a class="anchor" id="content"></a></h3>
          {% for percentual in percentual_ada %}
              <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
               {% else %} style="color: green;"
               {% endif %}>
               {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
              </h5>
          {% endfor %}
        <!-- Fim Cardano -->

        <!-- Inicio AMP -->
        <h3 class="ui dividing header violet">Amp (AMP)<a class="anchor" id="content"></a></h3>
          {% for percentual in percentual_amp %}
              <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
               {% else %} style="color: green;"
               {% endif %}>
               {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
              </h5>
          {% endfor %}
        <!-- Fim AMP -->

        <!-- Inicio BNT -->
         <h3 class="ui dividing header violet">Bancor (BNT)<a class="anchor" id="content"></a></h3>
         {% for percentual in percentual_bnt %}
             <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
              {% else %} style="color: green;"
              {% endif %}>
              {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
             </h5>
         {% endfor %}
        <!-- Fim BNT -->

        <!-- Inicio BTC -->
        <h3 class="ui dividing header violet">Bitcoin (BTC)<a class="anchor" id="content"></a></h3>
        {% for percentual in percentual_btc %}
            <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
              {% else %} style="color: green;"
              {% endif %}>
              {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
            </h5>
        {% endfor %}
        <!-- Fim BTC -->

        <!-- Inicio CITY -->
        <h3 class="ui dividing header violet">Manchester City (CITY)<a class="anchor" id="content"></a></h3>
        {% for percentual in percentual_city %}
            <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
              {% else %} style="color: green;"
              {% endif %}>
              {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
            </h5>
        {% endfor %}
        <!-- Fim CITY -->

        <!-- Inicio Curve Dao -->
        <h3 class="ui dividing header violet">Curve Dao Token (CRV)<a class="anchor" id="content"></a></h3>
        {% for percentual in percentual_crv %}
            <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
              {% else %} style="color: green;"
              {% endif %}>
              {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
            </h5>
        {% endfor %}
        <!-- Fim Curve Dao -->

        <!-- Inicio Curve Dogecoin -->
        <h3 class="ui dividing header violet">Dogecoin (DOGE)<a class="anchor" id="content"></a></h3>
        {% for percentual in percentual_doge %}
            <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
              {% else %} style="color: green;"
              {% endif %}>
              {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
            </h5>
        {% endfor %}
        <!-- Fim Curve Dogecoin -->

        <!-- Inicio Kyber Network -->
        <h3 class="ui dividing header violet">Kyber Network (KNC)<a class="anchor" id="content"></a></h3>
        {% for percentual in percentual_knc %}
            <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
              {% else %} style="color: green;"
              {% endif %}>
              {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
            </h5>
        {% endfor %}
        <!-- Fim Curve Kyber Network -->



        <!-- Inicio MANA -->
        <h3 class="ui dividing header violet">Decetreland (MANA)<a class="anchor" id="content"></a></h3>
        {% for percentual in percentual_mana %}
            <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
              {% else %} style="color: green;"
              {% endif %}>
              {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
            </h5>
        {% endfor %}
        <!-- Fim Curve MANA -->

        <!-- Inicio Ren-->
        <h3 class="ui dividing header violet">Ren (REN)<a class="anchor" id="content"></a></h3>
        {% for percentual in percentual_ren %}
            <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
              {% else %} style="color: green;"
              {% endif %}>
              {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
            </h5>
        {% endfor %}
        <!-- Fim Curve Ren -->

        <!-- Inicio Solana -->
        <h3 class="ui dividing header violet">Solana (SOL)<a class="anchor" id="content"></a></h3>
        {% for percentual in percentual_sol %}
            <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
              {% else %} style="color: green;"
              {% endif %}>
              {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
            </h5>
        {% endfor %}
        <!-- Fim Curve Solana -->

        <!-- Inicio SushiSwap-->
        <h3 class="ui dividing header violet">SushiSwap (SUSHI)<a class="anchor" id="content"></a></h3>
        {% for percentual in percentual_sushi %}
            <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
              {% else %} style="color: green;"
              {% endif %}>
              {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
            </h5>
        {% endfor %}
        <!-- Fim SushiSwap -->

        <!-- Inicio WiBX-->
        <h3 class="ui dividing header violet">WiBX (WBX)<a class="anchor" id="content"></a></h3>
        {% for percentual in percentual_wbx %}
            <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
              {% else %} style="color: green;"
              {% endif %}>
              {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
            </h5>
        {% endfor %}
        <!-- Fim WiBX -->

        <!-- Inicio ZRX-->
        <h3 class="ui dividing header violet">ZRX (ox)<a class="anchor" id="content"></a></h3>
        {% for percentual in percentual_zrx %}
            <h5 {% if percentual.porcentagem < 0 %} style="color: red;"
              {% else %} style="color: green;"
              {% endif %}>
              {{ percentual.purchase_date }}: {{percentual.porcentagem|floatformat:2}}%
            </h5>
        {% endfor %}
        <!-- Fim WiBX -->

      </div>
    </div>
  </div>

  <!-- ============================================================================================================ -->
  <!-- ============================================================================================================ -->
  <!-- ============================================================================================================ -->

  <div class="col-sm-8">
    <div class="card  shadow">
      <div class="card-body">
        <!----------------------------------- CARDANO (Início) -----------------------------------> 
          <div class="mt-4">
            <h3 class="ui dividing header blue">Cardano ( R$: {{ valor_atual_cardano|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
            <div class="row ">
              {% for cardano in cardano %}
              <div class="col-sm-6">
                <!-- Conteúdo do card -->
                <div class="card mt-2 mb-2">
                  <div class="card-body">
                    <h5 class="card-title">{{ cardano.name_crypto }} - ( {{ cardano.name_crypto.crypto_symbol }} )</h5>
                    <small class="text-muted">Compra: R$  {{ cardano.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ cardano.quantity_crypto }}</small>
                  </div>
                  <div class="card-footer" >
                    <h5  align="right" {% if cardano.lucro < 0 %} style="color: red;"{% elif cardano.lucro < 0 %} style="color: green;"  {% endif %}> 
                      R$: {{ cardano.lucro|floatformat:2 }}
                    </h5>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        <!----------------------------------- CARDANO (Fim) ----------------------------------->  


        <!----------------------------------- AMP (Início) -----------------------------------> 
        <div class="mt-4">
          <h3 class="ui dividing header blue">AMP ( R$: {{ valor_atual_amp|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
          <div class="row ">
            {% for amp in amp %}
            <div class="col-sm-6">
              <!-- Conteúdo do card -->
              <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{ amp.name_crypto }} - ( {{ amp.name_crypto.crypto_symbol }} )</h5>
                  <small class="text-muted">Compra: R$  {{ amp.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ amp.quantity_crypto }}</small>
                </div>
                <div class="card-footer" >
                  <h5  align="right" {% if amp.lucro < 0 %} style="color: red;"{% elif amp.lucro < 0 %} style="color: green;"  {% endif %}> 
                    R$: {{ amp.lucro|floatformat:2 }}
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!----------------------------------- AMP (Fim) ----------------------------------->  

        <!----------------------------------- BNT (Início) -----------------------------------> 
        <div class="mt-4">
          <h3 class="ui dividing header blue">BNT ( R$: {{ valor_atual_bnt|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
          <div class="row ">
            {% for bnt in bnt%}
            <div class="col-sm-6">
              <!-- Conteúdo do card -->
              <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{ bnt.name_crypto }} - ( {{ bnt.name_crypto.crypto_symbol }} )</h5>
                  <small class="text-muted">Compra: R$  {{ bnt.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ bnt.quantity_crypto }}</small>
                </div>
                <div class="card-footer" >
                  <h5  align="right" {% if bnt.lucro < 0 %} style="color: red;"{% elif bnt.lucro < 0 %} style="color: green;"  {% endif %}> 
                    R$: {{ bnt.lucro|floatformat:2 }}
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!----------------------------------- BNT (Fim) ----------------------------------->  

        <!----------------------------------- BTC (Início) -----------------------------------> 
        <div class="mt-4">
          <h3 class="ui dividing header blue">BTC ( R$: {{ valor_atual_btc|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
          <div class="row ">
            {% for btc in btc %}
            <div class="col-sm-6">
              <!-- Conteúdo do card -->
              <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{ btc.name_crypto }} - ( {{ btc.name_crypto.crypto_symbol }} )</h5>
                  <small class="text-muted">Compra: R$  {{ btc.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ btc.quantity_crypto }}</small>
                </div>
                <div class="card-footer" >
                  <h5  align="right" {% if btc.lucro < 0 %} style="color: red;"{% elif btc.lucro < 0 %} style="color: green;"  {% endif %}> 
                    R$: {{ btc.lucro|floatformat:2 }}
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!----------------------------------- BTC (Fim) ----------------------------------->  
        <!----------------------------------- CITY (Início) -----------------------------------> 
        <div class="mt-4">
          <h3 class="ui dividing header blue">Manchester City FC ( R$: {{ valor_atual_city|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
          <div class="row ">
            {% for city in city %}
            <div class="col-sm-6">
              <!-- Conteúdo do card -->
              <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{ city.name_crypto }} - ( {{ city.name_crypto.crypto_symbol }} )</h5>
                  <small class="text-muted">Compra: R$  {{ city.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ city.quantity_crypto }}</small>
                </div>
                <div class="card-footer" >
                  <h5  align="right" {% if city.lucro < 0 %} style="color: red;"{% elif city.lucro < 0 %} style="color: green;"  {% endif %}> 
                    R$: {{ city.lucro|floatformat:2 }}
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!----------------------------------- CITY (Fim) ----------------------------------->  
        <!----------------------------------- CRV (Início) -----------------------------------> 
        <div class="mt-4">
          <h3 class="ui dividing header blue">Curve Dao Token ( R$: {{ valor_atual_crv|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
          <div class="row ">
            {% for crv in crv %}
            <div class="col-sm-6">
              <!-- Conteúdo do card -->
              <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{ crv.name_crypto }} - ( {{ crv.name_crypto.crypto_symbol }} )</h5>
                  <small class="text-muted">Compra: R$  {{ crv.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ crv.quantity_crypto }}</small>
                </div>
                <div class="card-footer" >
                  <h5  align="right" {% if crv.lucro < 0 %} style="color: red;"{% elif crv.lucro < 0 %} style="color: green;"  {% endif %}> 
                    R$: {{ crv.lucro|floatformat:2 }}
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!----------------------------------- CRV (Fim) ----------------------------------->  

        <!----------------------------------- DOGE (Início) -----------------------------------> 
        <div class="mt-4">
          <h3 class="ui dividing header blue">Dogecoin ( R$: {{ valor_atual_doge|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
          <div class="row ">
            {% for doge in doge %}
            <div class="col-sm-6">
              <!-- Conteúdo do card -->
              <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{ doge.name_crypto }} - ( {{ doge.name_crypto.crypto_symbol }} )</h5>
                  <small class="text-muted">Compra: R$  {{ doge.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ doge.quantity_crypto }}</small>
                </div>
                <div class="card-footer" >
                  <h5  align="right" {% if doge.lucro < 0 %} style="color: red;"{% elif doge.lucro < 0 %} style="color: green;"  {% endif %}> 
                    R$: {{ doge.lucro|floatformat:2 }}
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!----------------------------------- DOGE (Fim) ----------------------------------->

        <!----------------------------------- Kyber Network (Início) ----------------------------------->
        <div class="mt-4">
          <h3 class="ui dividing header blue">Kyber Network ( R$: {{ valor_atual_knc|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
          <div class="row ">
            {% for knc in knc %}
            <div class="col-sm-6">
              <!-- Conteúdo do card -->
              <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{ knc.name_crypto }} - ( {{ knc.name_crypto.crypto_symbol }} )</h5>
                  <small class="text-muted">Compra: R$  {{ knc.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ knc.quantity_crypto }}</small>
                </div>
                <div class="card-footer" >
                  <h5  align="right" {% if knc.lucro < 0 %} style="color: red;"{% elif knc.lucro < 0 %} style="color: green;"  {% endif %}>
                    R$: {{ knc.lucro|floatformat:2 }}
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!----------------------------------- Kyber Network (Fim) ----------------------------------->



        <!----------------------------------- MANA (Início) -----------------------------------> 
        <div class="mt-4">
          <h3 class="ui dividing header blue">MANA ( R$: {{ valor_atual_mana|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
          <div class="row ">
            {% for mana in mana %}
            <div class="col-sm-6">
              <!-- Conteúdo do card -->
              <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{ mana.name_crypto }} - ( {{ mana.name_crypto.crypto_symbol }} )</h5>
                  <small class="text-muted">Compra: R$  {{ mana.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ mana.quantity_crypto }}</small>
                </div>
                <div class="card-footer" >
                  <h5  align="right" {% if mana.lucro < 0 %} style="color: red;"{% elif mana.lucro < 0 %} style="color: green;"  {% endif %}> 
                    R$: {{ mana.lucro|floatformat:2 }}
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!----------------------------------- MANA (Fim) ----------------------------------->


        <!----------------------------------- REN (Início) ----------------------------------->
        <div class="mt-4">
          <h3 class="ui dividing header blue">REN ( R$: {{ valor_atual_ren|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
          <div class="row ">
            {% for ren in ren %}
            <div class="col-sm-6">
              <!-- Conteúdo do card -->
              <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{ ren.name_crypto }} - ( {{ ren.name_crypto.crypto_symbol }} )</h5>
                  <small class="text-muted">Compra: R$  {{ ren.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ ren.quantity_crypto }}</small>
                </div>
                <div class="card-footer" >
                  <h5  align="right" {% if ren.lucro < 0 %} style="color: red;"{% elif ren.lucro < 0 %} style="color: green;"  {% endif %}>
                    R$: {{ ren.lucro|floatformat:2 }}
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!----------------------------------- REN (Fim) ----------------------------------->



        <!----------------------------------- SOLANA (Início) -----------------------------------> 
        <div class="mt-4">
          <h3 class="ui dividing header blue">SOLANA ( R$: {{ valor_atual_sol|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
          <div class="row ">
            {% for solana in solana %}
            <div class="col-sm-6">
              <!-- Conteúdo do card -->
              <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{ solana.name_crypto }} - ( {{ solana.name_crypto.crypto_symbol }} )</h5>
                  <small class="text-muted">Compra: R$  {{ solana.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ solana.quantity_crypto }}</small>
                </div>
                <div class="card-footer" >
                  <h5  align="right" {% if solana.lucro < 0 %} style="color: red;"{% elif solana.lucro < 0 %} style="color: green;"  {% endif %}> 
                    R$: {{ solana.lucro|floatformat:2 }}
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!----------------------------------- SOLANA (Fim) ----------------------------------->  

        <!----------------------------------- SushiSwap (Início) ----------------------------------->
        <div class="mt-4">
          <h3 class="ui dividing header blue">SushiSwap ( R$: {{ valor_atual_sushi|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
          <div class="row ">
            {% for sushi in sushi %}
            <div class="col-sm-6">
              <!-- Conteúdo do card -->
              <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{ sushi.name_crypto }} - ( {{ sushi.name_crypto.crypto_symbol }} )</h5>
                  <small class="text-muted">Compra: R$  {{ sushi.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ sushi.quantity_crypto }}</small>
                </div>
                <div class="card-footer" >
                  <h5  align="right" {% if sushi.lucro < 0 %} style="color: red;"{% elif sushi.lucro < 0 %} style="color: green;"  {% endif %}> 
                    R$: {{ sushi.lucro|floatformat:2 }}
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!----------------------------------- SushiSwap (Fim) ----------------------------------->


        <!----------------------------------- WiBX (Início) -----------------------------------> 
        <div class="mt-4">
          <h3 class="ui dividing header blue">WiBX ( R$: {{ valor_atual_wbx|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
          <div class="row ">
            {% for wbx in wbx %}
            <div class="col-sm-6">
              <!-- Conteúdo do card -->
              <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{ wbx.name_crypto }} - ( {{ wbx.name_crypto.crypto_symbol }} )</h5>
                  <small class="text-muted">Compra: R$  {{ wbx.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ wbx.quantity_crypto }}</small>
                </div>
                <div class="card-footer" >
                  <h5  align="right" {% if wbx.lucro < 0 %} style="color: red;"{% elif wbx.lucro < 0 %} style="color: green;"  {% endif %}> 
                    R$: {{ wbx.lucro|floatformat:2 }}
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!----------------------------------- WiBX (Fim) ----------------------------------->  

        <!----------------------------------- ZRX (Início) -----------------------------------> 
        <div class="mt-4">
          <h3 class="ui dividing header blue">0X ( R$: {{ valor_atual_zrx|floatformat:2 }} )<a class="anchor" id="content"></a></h3>
          <div class="row ">
            {% for zrx in zrx %}
            <div class="col-sm-6">
              <!-- Conteúdo do card -->
              <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{ zrx.name_crypto }} - ( {{ zrx.name_crypto.crypto_symbol }} )</h5>
                  <small class="text-muted">Compra: R$  {{ zrx.unitary_value|floatformat:2 }}</small><br>
                    <small class="text-muted">Quantidade: {{ zrx.quantity_crypto}}</small>
                </div>
                <div class="card-footer" >
                  <h5  align="right" {% if zrx.lucro < 0 %} style="color: red;"{% elif zrx.lucro < 0 %} style="color: green;"  {% endif %}> 
                    R$: {{ zrx.lucro|floatformat:2 }}
                  </h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!----------------------------------- WiBX (Fim) ----------------------------------->  
      </div>
    </div>
  </div>
</div>
<!-- FIM BODY -->





</div>
{% endblock %}


